// Variables

// Main color
$primary-color: #415561;
//$primary-color: #cff6ff;
// Anchor color
$secondary-color: #69c6dd;
$third-color: #94ffa4;

// Font color
$font-color: #ffffff;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;
$social-buttons-color: $secondary-color;
